{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<aside>
  <pre id="logo">Overthinking<br>Development</pre>
  <nav>
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
  <div class="links">
  <a href="https://www.linkedin.com/in/waseem-medhat/" target="_blank">
    <img src="/In-Blue-96.png" alt="LinkedIn">
  </a>
  <a href="https://github.com/waseem-medhat" target="_blank">
    <img src="/github-mark.png" alt="GitHub">
  </a>
  <a href="https://wipdev.hashnode.dev" target="_blank">
    <img src="/hashnode.png" alt="Hashnode blog">
  </a>
  <a href="https://www.buymeacoffee.com/wipdev" target="_blank">
    <img src="/bmc-logo.png" alt="Buy me a coffee">
  </a>
  </div>
</aside>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
